body {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

.container {
  margin: auto;
  padding: 30px 0;
  text-align: center;
}

.form {
  margin: 15px 0;
}

.form h1 {
  /* color: blue; */
  font-size: 40px;
  text-transform: uppercase;
}

.form input {
  border-style: groove;
  font-size: 20px;
  height: 40px;
  padding: 5px 15px;
  border: 1px solid;
}

.form button {
  background-color: #fff;
  border: 1px solid;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  margin: 15px auto;
  width: 80px;
}

.form button.btn-clear {
  background-color: #000;
  color: #fff;
}

ul {
  list-style: none;
  margin: auto;
  padding: 15px;
  text-align: left;
}

ul li {
  font-size: 20px;
  padding: 15px;
  position: relative;
}

ul li span:first-child {
  display: none;
}

/* ul li span.checked {
  background-color: #dcdcdc;
  text-decoration: line-through;
} */

ul li span.checked {
  display: block;
  left: 10px;
  position: absolute;
  top: 15px;
}

ul li:hover {
  background-color: #000;
  cursor: pointer;
  color: #fff;
}

ul li .btn-remove {
  color: '#f00';
  float: right;
}

/* For repsonsive */
@media (min-width: 780px) {
  .container {
    width: 80%;
  }

  .form h1 {
    padding: 10px;
  }

  .form input {
    width: 40%;
  }

  ul {
    width: 75%;
  }

  ul li {
    padding: 15px 40px;
  }
}
